h1 {
    font-size: 175%;
    text-align: center;
}

p {
	margin: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

section {
	width: 29%;
	margin: 1%;
	padding: 10px;
	float: left;
	border: 1px solid;
	background-color: #999999;
	position: relative;
}

.title {
	border: 1px solid;
	width: 100px;
	height: 20 px;
	text-align: center;
	padding: 5px;
	position: absolute;
	top: -1px;
	right: -1px;
}

.text{
	margin-top: 20px;
}

.chicken .title, .beef .title, .sushi .title {
	background-color: #d59898;
}
