* {
	box-sizing: border-box;
}

h1 {
    font-size: 175%;
    text-align: center;
}

p {
	margin: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

section {
	width: 31%;
	margin: 2% 1% 2% 1%;
	padding: 10px;
	float: left;
	border: 1px solid;
	background-color: #999999;
	position: relative;
}

.title {
	border: 1px solid;
	width: 100px;
	height: 20 px;
	text-align: center;
	padding: 5px;
	position: absolute;
	top: -1px;
	right: -1px;
}

.text{
	margin-top: 20px;
}

.chicken .title {
	background-color: #d59898;
}

.beef .title {
	background-color: #c14543;
}

.sushi .title {
	background-color: #e5d198;
}

/*@media (min-width: 768px) and (max-width: 991px){
	section.sushi {
		width: 98%;
	}
	
	section.chicken{
		width: 48%;
	}
	section.beef {
		width: 48%;
	}
}*/

@media (max-width: 767px) {
	section{
		width: 100%;
		margin: 10px 0px 10px 0px;
	}
}