* {
	box-sizing: border-box;
}

h1 {
    font-size: 175%;
    align-content: center;
}

div {
	width: 33%;
	margin: 10px;
	padding: 10px;
	float: left;
	border-style: solid;
	border: 1px;
}

.title {
	float: right;
	border-style: solid;
	border: 1px;
}

.text {
    clear: both;
}


